<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<body>
<div id="app">
    <div class="header">
        <el-menu theme="dark" class="el-menu-demo" mode="horizontal">
            <div class="logo">
                <img src="static/img/logo1.png" alt="element-logo" class="nav-logo">
            </div>
            <el-submenu index="3" style="position: fixed;right: 10px;top: 100px">
                <template slot="title">{{username}}(System Manage)</template>
                <el-menu-item index="2-1" @click="signOut">Sign Out</el-menu-item>
            </el-submenu>
            <!--<div></div>-->
        </el-menu>
        <div class="line"></div>
    </div>
    <div class="leftMenu">
        <el-tabs v-model="activeName" tab-position="left" type="border-card" style="height: 670px" @tab-click="handleClick">
            <el-tab-pane label="date" name="1"><i class="el-icon-date"></i>Date</el-tab-pane>
            <el-tab-pane label="employees" name="2"><i class="el-icon-user"></i>Employees</el-tab-pane>
            <el-tab-pane label="customers" name="3"><i class="el-icon-s-custom"></i>Customers</el-tab-pane>
            <el-tab-pane label="suppliers" name="4"><i class="el-icon-user-solid"></i>Suppliers</el-tab-pane>
            <el-tab-pane label="products" name="5"><i class="el-icon-menu"></i>Products</el-tab-pane>
            <el-tab-pane label="purchases" name="6"><i class="el-icon-document"></i>Purchases</el-tab-pane>
            <el-tab-pane label="logs" name="7"><i class="el-icon-collection-tag"></i>Logs</el-tab-pane>
        </el-tabs>
    </div>


    <div class="basetable" v-loading="loading" element-loading-text="Loading...">
        <div style="margin-top: 15px; width: 50%">
            <el-input placeholder="Please enter the search content" v-model="searchKeyword" class="input-with-select" >
                <el-select v-model="searchArr" slot="prepend" clearable placeholder="Lookup attribute" style="width: 150px">
                    <el-option label="all" value="1"></el-option>
                    <el-option :label="head" :value="key+1" v-for="(head, key) in header"></el-option>
                </el-select>
                <el-button slot="append" icon="el-icon-search">Search</el-button>
                <el-button slot="append" icon="el-icon-plus" @click="add">Add</el-button>
            </el-input>
        </div>

        <div class="tableMain">
            <el-table :data="tableData" height="560" stripe>
                <el-table-column :prop="head" :label="head" v-for="(head, key) in header" :key="head">
                </el-table-column>
                <el-table-column label="options">
                    <template scope="scope">
                        <el-button size="small" @click="handleEdit(scope.$index, scope.row)">Edit
                        </el-button>
                        <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <!--:append-to-body='true解决弹出框被幕布遮挡的bug-->
        <el-dialog title="Item Information" :visible.sync="dialogFormVisible"  :append-to-body='true'>

            <el-form :model="form">
                <el-form-item :label="head" :lable-width="formLabelWidth" v-for="(head, key) in header">
                    <el-input v-model="form[head]" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancel">Cancel</el-button>
                <el-button type="primary" @click="update">Confirm</el-button>
            </div>
        </el-dialog>
    </div>
</div>

</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el:'#app',

        data:{
            loading: true,
            tableData: [{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },{
                date: '2017-05-03',
                name: '半藏',
                region: '女',
                address: '花村',
                city: ''
            },
            ],
            header: ['date','name','region','address'],
            dialogFormVisible: false,
            formLabelWidth: '80px',
            form: {},
            searchKeyword:"",
            searchArr:"",
            activeName:"1",
        },
        computed: {
            onRoutes() {
                return this.$route.path.replace('/', '');
            }
        },
        created() {
            setTimeout(() => {
                this.loading = false
            }, 1000)
        },
        methods:{
            showTime() {
                this.$alert(this.value6, '起止时间', {
                    confirmButtonText: '确定',
                    callback: action => {
                        this.$message({
                            type: 'info',
                            message: '已显示'
                        })
                    }
                })
            },
            add() {
                this.form = {
                    date: '',
                    name: '',
                    region: '',
                    address: ''
                };
                this.dialogFormVisible = true
            },
            update() {
                //this.form.date = reformat(this.form.date)
                this.tableData.push(this.form);
                this.dialogFormVisible = false
            },
            search() {
                return this.tableData.filter(item=>{
                    return item.name.includes(this.searchKeyword);
                })
            },
            handleOpen(key, keyPath) {
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                });
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handleEdit(index, row) {
                this.form = this.tableData[index]
                this.currentIndex = index
                this.dialogFormVisible = true
            },
            handleDelete(index, row) {
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.tableData.splice(index, 1)
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    })
                })
            },
            cancel() {
                this.dialogFormVisible = false
            },
            handleClick(tab, event) {
                //获取数据
                console.log(tab.name,tab.label);
            }
        }
    })
</script>

</html>


