<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>Business Manage</title>
</head>
<body>
<div id="app" style="display: block;">
    <div class="header">
        <el-menu theme="dark" class="el-menu-demo" mode="horizontal">
            <div class="logo">
                <img src="static/img/logo1.png" alt="element-logo" class="nav-logo">
            </div>
            <el-submenu index="3" style="position: absolute; right: 10px;top: 100px">
                <template slot="title">{{username}}({{role}})</template>
                <el-menu-item index="2-1" @click="logout">Sign Out</el-menu-item>
            </el-submenu>
            <!--<div></div>-->
        </el-menu>
        <div class="line"></div>
    </div>
    <div class="leftMenu">
        <el-tabs v-model="activeName"  tab-position="left" type="border-card" style="height: 670px" @tab-click="handleClick">
            <el-tab-pane label="date" name="date"><i class="el-icon-date"></i>Date</el-tab-pane>
            <el-tab-pane label="employees" name="employees"><i class="el-icon-user"></i>Employees</el-tab-pane>
            <el-tab-pane label="customers" name="customers"><i class="el-icon-s-custom"></i>Customers</el-tab-pane>
            <el-tab-pane label="suppliers" name="suppliers"><i class="el-icon-user-solid"></i>Suppliers</el-tab-pane>
            <el-tab-pane label="products" name="products"><i class="el-icon-menu"></i>Products</el-tab-pane>
            <el-tab-pane label="purchases" name="purchases"><i class="el-icon-document"></i>Purchases</el-tab-pane>
            <el-tab-pane label="logs" name="logs"><i class="el-icon-collection-tag"></i>Logs</el-tab-pane>
            <el-tab-pane label="monthly" name="monthly"><i class="el-icon-collection-tag"></i>Monthly</el-tab-pane>
        </el-tabs>
    </div>


    <div class="basetable" v-loading="loadings" element-loading-text="Loading...">
        <div style="margin-top: 15px;margin-bottom: 5px; width: 50%">
            <el-input placeholder="Please enter the search content" v-model="searchKeyword" class="input-with-select" style="min-width: 600px">
                <el-select v-model="selectArr" slot="prepend" clearable placeholder="Lookup attribute" style="width: 180px">
                    <el-option label="all" value="all"></el-option>
                    <el-option :label="head" :value="head" v-for="(head, key) in header"></el-option>
                </el-select>
                <el-button slot="append" icon="el-icon-search" @click="search">Search</el-button>
                <el-button slot="append" icon="el-icon-plus" @click="add">Add</el-button>
            </el-input>
        </div>

        <div class="tableMain">
            <el-table :data="tableData" height="560" stripe>
                <!--
                :key="Math.random()"
                解决固定列错位问题
                -->
                <el-table-column :prop="head" :label="head" v-for="(head, key) in header" :key="head" :width="columnWidth">
                </el-table-column>
                <el-table-column
                        label="options"
                        fixed="right"
                        :width="optionWidth"
                        :key="Math.random()"
                >
                    <template scope="scope">
                        <el-button size="small" @click="handleEdit(scope.$index, scope.row)">Edit
                        </el-button>
                        <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <!--:append-to-body='true解决弹出框被幕布遮挡的bug-->
        <el-dialog title="Item Information" :visible.sync="dialogFormVisible"  :append-to-body='true'>

            <el-form :model="form">
                <el-form-item :label="head" :lable-width="formLabelWidth" v-for="(head, key) in header">
                    <el-input v-model="form[head]" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancel">Cancel</el-button>
                <el-button type="primary" @click="update">Confirm</el-button>
            </div>
        </el-dialog>

        <el-dialog title="Check Product Monthly"
                   :visible.sync="dialogMonthVisible"
                   :append-to-body='true' width="20%">
            <el-form>
                <el-form-item label="Product Id">
                    <el-input v-model="searchPid"
                              auto-complete="off"/>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancelSearch">Cancel</el-button>
                <el-button type="primary" @click="searchMonth">Search</el-button>
            </div>
        </el-dialog>
    </div>

    <el-dialog
            title="Server Error"
            :visible.sync="dialogErrorVisible"
            width="30%">
        <span>The requested path does not exist!</span>
        <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogErrorVisible = false">Confirm</el-button>
     </span>
    </el-dialog>
</div>

</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jutils-src"></script>

<script src="static/js/index.js"></script>

</html>


