
body,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../img/pineapple-1704339.jpg");

    background-size: 100%;
}

#login{
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 300px);
    width: 500px;
}


