
/*html body 的设置使得页面可以自适应浏览器*/
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/pineapple-1704339.jpg");
    background-size: 100%;
}

#app .el-container{
    width: 1200px;
    height: 750px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

#app{
    position: absolute;
    top: calc(50% - 375px);
    left: calc(50% - 600px);
}


.el-header, .el-footer {
    background-color: snow;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.el-aside {
    background-color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.el-main {
    background-color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}


.el-carousel__item:nth-child(2n) {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.el-carousel__item:nth-child(2n+1) {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}



.bottom {
    margin-top: 13px;
    line-height: 12px;
}

.button {
    padding: 0;
    float: right;
}

.image {
    height: 300px;
    width: 290px;
    display: block;
    margin-left: 70px;
    margin-top: 30px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}