<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper为根元素，namespace指定了命名空间-->
<!--
${}可以将外部的字符串拼到SQL中
-->
<mapper namespace="EmpMapper">
    <!--定义一个SELECT查询-->
    <select id="selectAll" resultType="cn.com.mybatis.po.Emp">
        SELECT * FROM emp;
    </select>

    <!--只接收一个参数时，参数可以使用任意名称，empno、id等等-->
    <select id="findById" parameterType="int" resultType="cn.com.mybatis.po.Emp">
        SELECT * FROM emp
        WHERE EMPNO = #{empno};
    </select>

    <select id="findByName" parameterType="java.lang.String"
            resultType="cn.com.mybatis.po.Emp">
        SELECT * FROM emp
        WHERE ENAME LIKE '%${ename}%';
    </select>

    <!--自写类返回-->
    <select id="getSimpleInfo" resultType="cn.com.mybatis.po.SimpleEmp">
        SELECT ENAME,EMPNO,JOB FROM emp;
    </select>

    <insert id="insertEmp" parameterType="cn.com.mybatis.po.Emp">
        INSERT INTO emp
        VALUE (#{empno},#{ename},#{job},#{mgb},#{hiredate,jdbcType=DATE},#{sal},#{comm},#{deptno});
    </insert>

    <delete id="deleteById" parameterType="int">
        DELETE FROM emp
        WHERE EMPNO = #{id};
    </delete>

    <update id="updateEmp" parameterType="cn.com.mybatis.po.Emp">
        UPDATE emp
        <set>
            <if test="ename!=null">
                ENAME = #{ename},
            </if>
            <if test="job!=null">
                JOB = #{job},
            </if>
            <if test="mgb!=null">
                MGB = #{mgb},
            </if>
            <if test="hiredate!=null">
                HIREDATE = #{hiredate}
            </if>
            <if test="sal!=null">
                SAL = #{sal},
            </if>
            <if test="comm!=null">
                COMM = #{comm},
            </if>
            <if test="deptno!=null">
                DEPTNO = #{deptno},
            </if>
        </set>
        WHERE EMPNO = #{empno};
    </update>
</mapper>