/*html body 的设置使得页面可以自适应浏览器*/
html{
    height: 100%;
}
body{
    position: relative;
    display: block;
    min-height: 100%;
}
#id{
    /*主页面，通过设置相对布局
    给予子元素绝对布局的权限*/
    position: relative;
    min-width: 810px;
    height: 100%;
    min-height: 900px;
}
.header{
    width: 100%;
}
.el-menu-demo{
    width: 100%;
    min-width: 500px;
    height: 150px;
    border-radius: 0;
    display: flex
}
.logo{
    outline: none;
    flex: 1;
    top: 10px;
    left: 0px
}

.leftMenu{
    display: block;
    bottom: 0;
    top: 200px;
    width: 95%;
    left: 0px
}

.basetable{
    position: absolute;
    top: 200px;
    left: 145px;
    right:150px;
}


