/*html body 的设置使得页面可以自适应浏览器*/
html{
	height: 100%;
}
body{
	text-align: center;
	position: relative;
	display: block;
	min-height: 100%;
}
#wrapper{
	/*主页面，通过设置相对布局
	给予子元素绝对布局的权限*/
	position: relative;
	min-width: 810px;
	height: 100%;
	min-height: 900px;
}
#navi{
	position: absolute;
	right: 0;
	/*导航位置*/
	top: 0;
	margin: 19px 0 5px;
	padding: 0 0 0 0;
}
#navi a.goto{
	float: left;
	color: black;
	font-weight: 700;
	line-height: 24px;
	margin-left: 20px;
	font-size: 13px;
	text-decoration: underline;
}

#navi a.login-set{
	float: left;
	color: black;
	line-height: 24px;
	margin-left: 20px;
	font-size: 13px;
	text-decoration: underline;
}

#navi a.more{
	float: left;
	color: white;
	background: #38f;
	line-height: 24px;
	margin-left: 20px;
	margin-right: 10px;
	padding: 0px 2px;
	font-size: 13px;
	text-decoration: blink;
}
#find-main{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 200px;
}

#form{
	display: inline-block;
	float: center;
	margin: 22px auto 0;
	/*z-index: 100;*/
}
.find-text{
	float: left;
	display: inline-block;
	position: relative;
	height: 35px;
	width: 539px;
	margin-right: 0;
	border: 1px solid #b6b6b6;
}
.find-submit{
	float: left;
	border: 0;
}
.kw-ipt{
	width: 500px;
	height: 35px;
	line-height: 36px;
	margin: 0 0 0 -33px;
	padding: 0 0 0 5px;
	border: 0;
}
.find-camera{
	z-index: 1;
	position: absolute;
	right: 11px;
	top: 50%;
	margin: -6px 0 0 0;
	height: 18px;
	width: 16px;
	background: #FFFFFF
	url(../img/camera.png);
}

.sub-btn{
	width: 100px;
	height: 37px;
	color: #FFFFFF;
	font-size: 15px;
	letter-spacing: 1px;
	background: #3385ff;
	border-bottom: 1px solid #2d78f4;
	margin: 0 0;
}

#app-page{
	text-align: center;
	position: absolute;
	/*调整版权声明的位置*/
	bottom: 70px;
	width: 100%;
}

#app-page .qrtext .title{
	color: #333;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 3px;
}

#app-page .qrtext .sub-title{
	color: #999;
	font-size: 14px;
	line-height: 14px;
	font-weight: 300;
}

#app-page p{
	margin: 0;
	padding: 0;
	list-style: none;
}

#baidu-info{
	position: absolute;
	bottom: -30px;
	width: 100%;
	color: #999999;
	font-size: 10px;
}

#baidu-info .one-set{
	margin-left: 25px;
}
#baidu-info a{
	color: #999999;
}
#baidu-info i{
	width: 14px;
	height: 17px;
	/*需要改成内联块状才能出现*/
	display: inline-block;
	background: url(../img/gongan.png);
	margin-left: -2px;
	margin-right: 25px;
	margin-top: 2px;
	position: absolute;
}
#baidu-info .two-set-1{
	margin-left: 25px;
}